body {
    font-family: sans-serif;
  }
  .bar {
    fill: steelblue;
  }
  .label {
    font-size: 12px;
    fill: black;
  }
  .axis-label {
    font-size: 13px;
    font-weight: bold;
  }

  #bar-group svg {
    display: block;      /* agar margin auto bekerja */
    margin: 0 auto;      /* vertikal 0, horizontal auto */
  }
  